extends layout

block content
  .panel.panel-primary
    .panel-heading
      h3.panel-title
        a.article-author(href='/author/' + article.author_id)= article.author_name
    .panel-body
      .article-tags
        each tag in article.tags
          a.tag.label.label-default(href='/tag/' + tag.tag_id)= tag.tag_name

  .article-content.well= article.content

  .article-comments
    each comment in comments
      .comment.panel.panel-default
        .panel-heading
          .comment-user= comment.user_name
        .panel-body
          .comment-text= comment.text
