extends layout

block content
  .panel.panel-primary
    .panel-heading
      h3.panel-title
        a.author-name(href='/author/' + article.author_id)= article.author_name
    .panel-body
      .tags
        each tag in article.tags
          a.tag-link.label.label-default(href='/tag/' + tag.tag_id)= tag.tag_name

  .article-content.well= article.content

  .comments
    each comment in comments
      .comment.panel.panel-default
        .panel-heading
          .user-name= comment.user_name
        .panel-body
          .comment-text= comment.text
