extends ../layout

block content
  .article-list
    each article in articles
      .article-entry.panel.panel-default
        .panel-heading
          .panel-title.pull-left
            a.article-title(href=`/article/${article.article_id}`)= article.title
            .article-date= moment(article.date_published).format('YYYY-MM-DD HH:mm')
          .article-tags.pull-right
            each tag in article.tags
              a.tag.label.label-default(href=`/tag/${tag.tag_id}`)= tag.tag_name
          .clearfix
        .panel-body
          a.article-author(href=`/author/${article.author_id}`)= article.author_name
          p.article-content= article.content.substr(0, 140).trim() + '...'
