extends ../layout

block content
  form(method='post')
    .form-group
      label.control-label(for='create-article-title') Title:
      input#create-article-title.form-control(type='text', name='title', required, value=form && form.title, placeholder='Article Title')
    .form-group
      label.control-label(for='create-article-tags') Tags:
      input#create-article-tags.form-control(type='text', name='tags', value=form && form.tags, placeholder='Article Tags')
    .form-group
      label.control-label(for='create-article-content') Content:
      textarea#create-article-content.form-control(name='content', required, placeholder='Article Content')= form && form.content
    .form-group(class=err && 'has-error')
      button.btn.btn-primary(type='submit') Create Article
      .help-block= err
