extends ../layout

block content
  .panel.panel-default
    .panel-heading
      .panel-title.pull-left
        a.article-title(href=`/article/${article.article_id}`)= article.title
        .article-date= moment(article.date_published).format('YYYY-MM-DD HH:mm')
      .article-tags.pull-right
        each tag in article.tags
          a.tag.label.label-default(href=`/tag/${tag.tag_id}`)= tag.tag_name
      .clearfix
    .panel-body
      .pull-left
        a.article-author(href=`/author/${article.author_id}`)= article.author_name
      .pull-right
        if user && user.user_id === article.author_id
          a.btn.btn-default(href=`/article/${article.article_id}/edit`) Modify Article
          a.btn.btn-default(href=`/article/${article.article_id}/delete`) Delete Article

  if err
    .alert.alert-danger= err

  .article-content.well.pre= article.content

  .article-comments
    if user
      .create-comment.panel.panel-primary
        .panel-heading Leave a comment
        .panel-body
          form(method='post', action='/comment/new')
            input(hidden, required, name='article_id', value=article.article_id)
            .form-group
              label.control-label(for='create-comment-text') Comment:
              textarea#create-comment-text.form-control(name='text', required, placeholder='Comment')= comment
            .form-group
              button.btn.btn-default(type='submit') Leave Comment

    each comment in comments
      .comment.panel.panel-default
        .panel-heading
          .comment-user.pull-left= comment.user_name
          .comment-date.pull-right= moment(comment.date_published).format('YYYY-MM-DD HH:mm')
          .clearfix
        .panel-body
          .comment-text= comment.text
