extends ../layout

block content
  .panel.panel-default
    include ../includes/article-heading
    .panel-body
      .pull-left
        a.article-author(href=`/author/${article.author_id}`)= article.author_name
      .pull-right
        if user && user.user_id === article.author_id
          a.btn.btn-default.btn-space(href=`/article/${article.article_id}/edit`) Modify Article
          a.btn.btn-default.btn-space(href=`/article/${article.article_id}/delete`) Delete Article

  if err
    .alert.alert-danger= err

  .article-content.well.pre= article.content

  .article-comments
    if user
      .create-comment.panel.panel-primary
        .panel-heading Leave a comment
        .panel-body
          form(method='post', action='/comment/new')
            input(hidden, required, name='article_id', value=article.article_id)
            .form-group
              label.control-label(for='create-comment-text') Comment:
              textarea#create-comment-text.form-control(name='text', required, placeholder='Comment')= comment
            .form-group
              button.btn.btn-primary(type='submit') Leave Comment

    each comment in comments
      .comment.panel.panel-default
        .panel-heading
          .comment-user.pull-left= comment.user_name
          .comment-date.pull-right= moment(comment.date_published).format('YYYY-MM-DD HH:mm')
          .clearfix
        .panel-body
          .pull-left
            .comment-text= comment.text
          .pull-right
            if user && user.user_id === comment.user_id
              a.btn.btn-default(href=`/comment/${comment.comment_id}/delete`) Delete Comment
